/* Fonts */
:root {
  --font-body: 'Lora', sans-serif;
  --font-headline: 'Playfair', serif;
  --font-sub-headline: 'Poppins', sans-serif;
}

body,
.font-body {
  font-family: var(--font-body);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
.font-headline {
  font-family: var(--font-headline);
  font-weight: normal;
}

.font-sub-headline {
  font-family: var(--font-sub-headline);
  font-weight: bold;
}

/* Typographic Scale */
html {
  font-size: 16px;
  color: #3C3C3B;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.65;
  background-color: var(--color-daisy-white);
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-sub-headline);
  font-weight: 400;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: var(--font-headline);
  font-size: 3.05em;
  margin-top: 0;
}

h2,
.text-size-h2 {
  font-size: 2.44em;
}

h3,
.text-size-h3 {
  font-size: 1.95em;
}

h4,
.text-size-h4 {
  font-size: 1.56em;
}

h5,
.text-size-h5 {
  font-size: 1.25em;
}

.text-caption {
  font-size: 0.8em;
}

small,
.text-small {
  font-size: 0.64em;
}

/* Text Colors */
:root {
  --color-primary: #5B9279;
  --color-angry-pasta: #FFC857;
  --color-calabrese: #F4A8A8;
  --color-disco: #8B2F4E;
  --color-daisy-white: #F8F4E3;
  --color-limousine-leather: #3C3C3B;
}

.color-primary {
  color: var(--color-primary);
}

.color-angry-pasta {
  color: var(--color-angry-pasta);
}

.color-calabrese {
  color: var(--color-calabrese);
}

.color-disco {
  color: var(--color-disco);
}

.color-daisy-white {
  color: var(--color-daisy-white);
}

.color-limousine-leather {
  color: var(--color-limousine-leather);
}

nav {
  background-color: var(--color-primary);
  /* border: purple solid; */

}

nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  /* border: yellow solid; */
}

nav ul li {
  display: inline-block;
  /* float: none; */
  color: whitesmoke;
  border-right: 1px solid var(--color-daisy-white);

}

nav ul li:first-child {
  border-left: 1px solid var(--color-daisy-white);
}

nav a {
  /* vertical-align: middle; */
  display: block;
  color: var(--color-limousine-leather);
  text-decoration: none;
  position: relative;
  margin: 1em 3em;
}

nav a::before {
  /* Source: https://codepen.io/anon/embed/xxPOgmZ?height=300&theme-id=1&slug-hash=xxPOgmZ&default-tab=result#css-link*/
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: var(--color-limousine-leather);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

nav .nav-menu,a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

