/* Fonts */
:root {
  --font-body: 'Lora', sans-serif;
  --font-headline: 'Playfair', serif;
  --font-sub-headline: 'Poppins', sans-serif;
}

body,
.font-body {
  font-family: var(--font-body);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
.font-headline {
  font-family: var(--font-headline);
  font-weight: normal;
}

.font-sub-headline {
  font-family: var(--font-sub-headline);
  font-weight: bold;
}

.font-tagline {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 17em;
  text-transform: uppercase;
  color: var(--color-daisy-white);
}

/* Typographic Scale */
html {
  font-size: 16px;
  color: #3C3C3B;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  /* line-height: 1.65; */
  background-color: var(--color-daisy-white);
}

p {
  font-size: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-sub-headline);
  font-weight: 400;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: var(--font-headline);
  font-size: 3.05em;
  margin-top: 0;
}

h2,
.text-size-h2 {
  font-size: 2.44em;
}

h3,
.text-size-h3 {
  font-size: 1.95em;
}

h4,
.text-size-h4 {
  font-size: 1.56em;
}

h5,
.text-size-h5 {
  font-size: 1.25em;
}

.text-caption {
  font-size: 0.8em;
}

small,
.text-small {
  font-size: 0.64em;
}

/* Text Colors */
:root {
  --color-primary: #5B9279;
  --color-angry-pasta: #FFC857;
  --color-calabrese: #F4A8A8;
  --color-disco: #8B2F4E;
  --color-daisy-white: #F8F4E3;
  --color-limousine-leather: #3C3C3B;
}

.color-primary {
  color: var(--color-primary);
}

.color-angry-pasta {
  color: var(--color-angry-pasta);
}

.color-calabrese {
  color: var(--color-calabrese);
}

.color-disco {
  color: var(--color-disco);
}

.color-daisy-white {
  color: var(--color-daisy-white);
}

.color-limousine-leather {
  color: var(--color-limousine-leather);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);

}

/* nav bar container */
nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: var(--color-daisy-white);
  min-height: 5em;
}

/* Links inside the nav bar */
nav a, 
nav button {
  color: var(--color-daisy-white);
  font-size: 1.33em;
  text-align: center;
  border: none;
  border-right: var(--color-daisy-white) solid 1px;
  cursor: pointer;
  padding: 1em;
  width: 10em;


  text-transform: uppercase;
  text-decoration: underline 0.15em #385B4B;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;

}

nav a:nth-child(1):hover {
  text-decoration-color: #FFC857;
  text-underline-offset: 0.4em;
}

nav a:nth-child(2):hover {
  text-decoration-color: #8B2F4E;
  text-underline-offset: 0.4em;
}

nav a:nth-child(3):hover {
  text-decoration-color: #F4A8A8;
  text-underline-offset: 0.4em;
}

nav button:hover {
  text-decoration-color: #A2D5F2;
  text-underline-offset: 0.4em;
}



nav a:first-child {
  border-left: var(--color-daisy-white) solid 1px;
}

/* The dropdown container (fka 'dropdown')*/
.nav-menu {
  position: relative;
}

/* Dropdown button */
.nav-menu .nav-menu-dropbtn {
  
  /* text-decoration: none; */
  color: var(--color-daisy-white);
  text-align: center;
  background-color: inherit;
  outline: none;
  font-family: inherit;
  margin: 0;

}

/* Dropdown content -- hidden by default -- (fka '.dropdown-content') */
.nav-menu-content {
  display: none;
  position: absolute;
  background-color: var(--color-daisy-white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 0px;
  padding: 0px;
  line-height: 1.65em ;

}
/* Links inside the dropdown */
.nav-menu-content a,
.nav-menu-content a:first-child {
  color: var(--color-limousine-leather);
  text-decoration: none;
  text-align: left;
  display: block;
  border: 0px;
  
}

/* Add different background color to dropdown links on hover */
.nav-menu-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.nav-menu:hover .nav-menu-content {
  display: block;
}

.hero-container {
  margin: 10px;
  padding: 50px;
  min-height: 650px;
  background-image: url("../img/4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}


main {
  line-height: 1.65em;
  outline: auto;
  padding: 25px 10%;

}

main section {
  outline: auto;
  margin: 10px 50px;
  padding: 10px;
}

footer {
  outline: auto;
}





.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 55%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
.embla__slide__number {
  backface-visibility: hidden;
}
