body {
    background-color: gainsboro;
    font-family: Rubik, Arial;
  }

header{

}

nav {
  margin-top: 100px;
  background-color: #333;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2em;
  overflow: hidden;
  text-align: center;

}

nav li {
  /* float:inline-end; */
  color: whitesmoke;
  display: inline-block;
  padding: 1em 2em;
  /* width: 2em; */

}

nav li a {
  text-transform: uppercase;
  width: 1em;
  vertical-align: middle;
  padding: 90% 2em;
  color: #4CAF50;
}

nav li a:hover {
  background-color: #000;
}

h1 {
  font-size: 50px;
}


.box_1 {
  border-width: 1px;
  border-style: solid;
  border-color: gainsboro;
}

.box_2 {
  border: 5px;
  border-style: solid;
  border-color: sandybrown;
}